name: Build
run-name: Build ${{ inputs.application_name }} for ${{ inputs.target }}@${{ inputs.branch }}

on:
  workflow_dispatch:
    inputs:
      application_name:
        description: "Application name"
        required: false
        default: Unknown
      bundle_url:
        description: "Application bundle URL"
        required: true
      branch:
        description: "SDK branch to use"
        required: true
      target:
        description: "SDK hardware target to use"
        required: true
      upload_url:
        description: "Build results submit URL"
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup environment
        id: env-setup
        run: |
          ARCHIVARIUS_URL=$(< .github/.ARCHIVARIUS_URL) ;
          echo "ARCHIVARIUS_URL=${ARCHIVARIUS_URL}" >> $GITHUB_ENV ;
          echo "::add-matcher::${{ github.workspace }}/.github/problem-matcher.json" ;
          echo "bundle-url=${ARCHIVARIUS_URL}${{ inputs.bundle_url }}" >> $GITHUB_OUTPUT ;
          echo "upload-url=${ARCHIVARIUS_URL}${{ inputs.upload_url }}" >> $GITHUB_OUTPUT ; 
          echo "local-bundle-zip=${{ runner.temp }}/bundle.zip" >> $GITHUB_OUTPUT ;
          echo "local-bundle-path=${{ runner.temp }}/app" >> $GITHUB_OUTPUT ;
          echo "code-path=${{ runner.temp }}/app/code" >> $GITHUB_OUTPUT ;

      - name: Download bundle file
        run: |
          curl --fail-with-body -L \
            -H "Authorization: Bearer ${{ secrets.FAST_AUTH_TOKEN }}" \
            -o ${{ steps.env-setup.outputs.local-bundle-zip }} \
            ${{ steps.env-setup.outputs.bundle-url }}

      - name: Unzip src bundle
        id: unzip-bundle
        run: |
          unzip -qq ${{ steps.env-setup.outputs.local-bundle-zip }} -d ${{ steps.env-setup.outputs.local-bundle-path }} ;
          APPID=$(grep -e "^id: " "${{ steps.env-setup.outputs.local-bundle-path }}/manifest.yml" | cut -d" " -f2) ;
          echo "appid=${APPID}" >> $GITHUB_OUTPUT ;

      - name: Run ufbt
        uses: flipperdevices/flipperzero-ufbt-action@v0.1.2
        continue-on-error: true
        id: ufbt
        with: 
          task: build
          app-dir: ${{ steps.env-setup.outputs.code-path }}
          sdk-branch: ${{ inputs.branch }}
          sdk-hw-target: ${{ inputs.target }}

      - name: Report build failures
        id: report-build-failures
        if: steps.ufbt.outputs.build-errors != ''
        run: |
          cat << "UFBT-ERROR-EOF" > ${{ runner.temp }}/build-errors
          ${{ steps.ufbt.outputs.build-errors }}
          UFBT-ERROR-EOF
          curl --fail-with-body \
            -H "Authorization: Bearer ${{ secrets.FAST_AUTH_TOKEN }}" \
            --data-binary "@${{ runner.temp }}/build-errors" \
            ${{ steps.env-setup.outputs.upload-url }}/status ;
          exit 1 ;

      - name: Zip artifacts
        id: zip-artifacts
        if: steps.ufbt.outputs.build-errors == ''
        run: >
          zip -qq -r -j ${{ runner.temp }}/build-artifacts.zip $( grep ${{ steps.unzip-bundle.outputs.appid }} <<< "${{ steps.ufbt.outputs.fap-artifacts }}" ) ;
          echo "artifact-path=${{ runner.temp }}/build-artifacts.zip" >> $GITHUB_OUTPUT ;

      - name: Upload built files
        if: steps.ufbt.outputs.build-errors == ''
        run: |
          curl --fail-with-body \
            -H "Authorization: Bearer ${{ secrets.FAST_AUTH_TOKEN }}" \
            -F "build=@${{ steps.zip-artifacts.outputs.artifact-path }}" \
            ${{ steps.env-setup.outputs.upload-url }}
