name: Require Checklist

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  checklist-check:
    runs-on: ubuntu-latest
    name: Checks
    steps:
      - uses: mheap/require-checklist-action@v2
        with:
          requireChecklist: true # If this is true and there are no checklists detected, the action will fail
