name: Widget
run-name: Create widgets for ${{ inputs.application-name }}

on:
  workflow_dispatch:
    inputs:
      application-name:
        description: "Application name"
        required: true
      application-category:
        description: "Application category"
        required: true

jobs:
  build_statuses:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setting envs
        run: |
          ARCHIVARIUS_URL=$(< .github/.ARCHIVARIUS_URL) ;
          echo "ARCHIVARIUS_URL=${ARCHIVARIUS_URL}" >> $GITHUB_ENV ;

      - name: "Check README existence"
        id: check_files
        uses: andstor/file-existence-action@v2
        with:
          files: 'applications/${{ inputs.application-category }}/${{ inputs.application-name }}/README.md'

      - name: Generate README widget file
        if: steps.check_files.outputs.files_exists == 'false'
        id: bundle
        shell: bash
        run: >
          python3 ./tools/widget.py \
            "${{ inputs.application-name }}" "${{ inputs.application-category }}" ;

      - name: Commit README widget file
        if: steps.check_files.outputs.files_exists == 'false'
        uses: EndBug/add-and-commit@v9
        with:
          add: 'applications/${{ inputs.application-category }}/${{ inputs.application-name }}/README.md'
          author_name: Git Action
